.nav {
    padding: 2.3rem 2.5rem 0 ;
    box-shadow: none;
    background-color: transparent;

    span {
        display: inline-flex;
        align-items: center;
        gap: 0.4rem;
        font-weight: 400;
        font-size: 14.24px;

        a {
            display: inline-flex;
            align-items: center;
             margin-top: 1px;
             gap:0.3rem;
            .icons {
                font-size: 1rem;
                font-weight: bold;
            }
        }

        button {
            cursor: pointer;
            margin-top: 1px;
        }

        p {
            font-size: 0.625rem;
        }

    }
}