/* components/NavBar/NavBar.css */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff;
  max-height: 65px;
  height: 100%;
  width: 100%;
  padding: 0 2.3rem;
  box-shadow: 0 7px 11px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 100;
  position: sticky;


  .main-menu {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    left: 0;
    top: 65px;
    background-color: rgba(61, 61, 61, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 3rem 3rem;

    .menu-recommend {
      padding-inline: 5%;

    }

    .menu-show-artis {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 16.13px;
      height: 42px;
      color: #ffffff;
      background-color: #B9C4D5;
      border-radius: 0 0 3rem 3rem;
      cursor: pointer;
      transition: 0.3s;
      svg {
        margin-left: 0.8rem;
   font-size: 22px;
      }
      &:hover{
        background-color: #6483B0;
      }
    }
  }
}

nav .nav-logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .nav-logo-text {
    font-size: 53.59px;
    font-family: var(--font-plaster), cursive;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .nav-logo-luge {
    font-size: 14.18px;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-family: var(--font-prompt), sans-serif;
      /* ใช้ฟอนต์หลัก */
    }

    p {
      font-size: 0.5rem;
      font-weight: 300;
      color: #666;
    }
  }
}



nav .nav-menu {
  display: flex;
  align-items: center;
  font-weight: 500;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14.18px;
  color: #565656;
  font-family: var(--font-prompt), sans-serif;

  li {
    margin-inline: 0.5rem;
    position: relative;

    .nav-menu-link {
      border-radius: 0.2rem;
      padding: 0.7rem 1rem;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        background-color: #F2F2F2;
      }

    }

    .nav-menu-button {
      border-radius: 0.2rem;
      padding: 0.7rem 1rem;
      background: none;
      border: none;
      cursor: pointer;
      font-weight: inherit;
      color: inherit;
      font-family: var(--font-prompt), sans-serif;
      /* ใช้ฟอนต์หลัก */
      white-space: nowrap;

      svg{
        display: inline;
        font-size: 1.2rem;
        margin-bottom: 2px;
      }

      &:hover {
        background-color: #F2F2F2;
      }
    }
  }
}



nav .nav-button {
  font-size: 14.18px;
  display: flex;
  align-items: center;
  background-color: #E4EFFF;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  font-weight: 500;
  font-family: var(--font-prompt), sans-serif;
  gap: 0.5em;
  color: #565656;

  .nav-button-link {
    padding: 0.3rem 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: inherit;
    color: inherit;

    &:hover {
      color: #88B3F5;
    }
  }

  p {
    margin-inline: 0.188rem;
    font-size: 0.6rem;
    font-weight: 20;
    color: #666;
  }
}




/* Dropdown Menu (menu-recommend) */
nav .menu-recommend {}

nav .menu-recommend .menu-recommend-text {
  margin-block: 0.6rem;
  font-size: 0.625rem;
  font-weight: 500;
  color: #333;
  /* กำหนดสีข้อความให้ชัดเจน */
  font-family: var(--font-prompt), sans-serif;
  /* ใช้ฟอนต์หลัก */
}

nav .menu-recommend .menu-recommend-img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav .menu-recommend .menu-recommend-img a {
  transition: transform 200ms;

  &:hover {
    transform: scale(1.03);
  }
}

nav .menu-recommend .menu-recommend-img .main-div-logo {
  position: relative;
  width: 25.936rem;
  height: 13.96rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

nav .menu-recommend .menu-recommend-img .main-div-logo img {
  object-fit: cover;
}

nav .menu-recommend .menu-showmore-porduct {
  display: flex;
  justify-content: flex-end;
  /* แก้เป็น flex-end แทน end */
  margin-block: 0.5rem;
}

nav .menu-recommend .menu-showmore-porduct .button-showmore-porduct {
  border-radius: 0.2rem;
  color: #ED2629;
  font-size: 0.5rem;
  font-weight: 500;
  padding: 0.2rem 0.3rem;
  background: none;
  cursor: pointer;
  font-family: var(--font-prompt), sans-serif;

  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
}