.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    .review-name {

        font-size: 1.25rem;
        font-weight: 700;

        font-weight: bold;
        color: #565656;

        margin-bottom: 2rem;

    }

    .review-main {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        width: 100%;
        margin-top: 1.5rem;
        .review-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #F4F5F8;
            border-radius: 1rem;
            max-width: 28.125rem;
            width: 100%;
            aspect-ratio: 450 / 337.26;

            padding: 2rem 2rem;
            box-sizing: border-box;
            text-align: center;
            box-shadow: 0.1rem 0.1rem 0.2rem rgb(0, 0, 0, 0.2);

            .review-header {
                display: flex;
                flex-direction: column;
                align-items: center;

                .reviewer-name {
                    font-size: 1.164rem;
                    font-weight: 500;
                    color: #565656;
                }

                .review-star-container {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 1.212rem;
                        height: 1.212rem;
                        margin: 0;
                        vertical-align: middle;
                    }
                }
            }


            .review-detail-wrapper {
                width: 100%;

                box-sizing: border-box;
                margin-block: 2rem 1rem;
                /* &::before {
                    content: '“';
                    position: absolute;
                    top: 0;
             
                    left: 0;
        
                    font-size: 4.063rem;
          
                    color: #565656;
             
                    font-family: serif;
                  
                    line-height: 1;
              
                    z-index: 1;
                 
                }

                &::after {
                    content: '”';

                    position: absolute;
                    bottom: 0;
                    right: 0;

                    font-size: 4.063rem;
                    color: #565656;
                    font-family: serif;
                    line-height: 0;
                    z-index: 1;
                } */

                .review-text {

                    font-size: 1.37rem;
                    text-align: center;
                    font-weight: 500;
                    color: #565656;


                }
            }
        }
    }
}