@import "tailwindcss";

/* --- Custom Properties --- */
:root {
  --spacing: 1vw;
}

body {
  display: flex;
  flex-direction: column;
background-color: #ffffff;
  color: #565656;
}

main {

height: 100dvh;
  background-image: linear-gradient(to left,
      rgba(128, 179, 255, 0.3) 0%,

      rgba(228, 239, 255, 0.3) 32%,

      rgba(228, 239, 255, 0.3) 64%,

      rgba(128, 179, 255, 0.3) 100%);
  backdrop-filter: blur(50px);


}

main.main-content-blurred {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;

  /* pointer-events: none;
  user-select: none; */
}

a:focus,
a:focus-visible {
  outline: none;
}


.page-container{
  margin-block: 3%;
}
