.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .slide {
        width: 100%;
        height: fit-content;
        margin-block: 4%;
    }

    .BoxProduct {
        width: 100%;
        height: fit-content;
        margin-block: 0 4%;
    }
}